{% extends "base.html" %}
{% block title%}Booking Confirmation{% endblock  %}

     {% block content%}
     <div class="container text-center">
    <h1>Booking Confirmation</h2>
        <div class="alert alert-primary d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>
    We have received your booking request. We will contact you soon to confirm the booking details.
  </div>
</div>
     {% endblock  %}